body{
background-color: blueviolet;
}
 
header{
    color: white;
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 25pt;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 300px;
    margin: auto;
    box-shadow: 3px 5px 15px rgba( rgb(0, 0, 0, 0.50));
}

#inicio{
    margin: auto;
}

#fim{
    margin: 15px;
}

#passo{
    margin: 12px;
}


section,h3{
    color: #464343;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    border-top: 10px;
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}

